# Supabase Configuration
VITE_SUPABASE_URL=https://muamzhgabqhfrgmwerxb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11YW16aGdhYnFoZnJnbXdlcnhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzODY0NDcsImV4cCI6MjA4ODk2MjQ0N30.KfHGOACOyKx6mbf2Ctmte_BeinEZmi87dka_99M7EN0
